.ramdom {
    display: flex;
    justify-content: end;
    margin: 10px;
}

.button_ramdom {
    background-color: rgb(13, 206, 119);
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px;
}

.button_allCharacters{
    background-color: rgb(13, 206, 119);
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px;
    margin-left: 6px;
}

.button_allCharacters > .Link_character {
    text-decoration: none;
    color: white;
}