.Cards-container {
    margin:3em;
    justify-content: space-evenly;
}

.imgCard {
    width: 232px;
    height: 171px;
    border-radius: 5%;
}

.Card{
    text-align: center;
    border: 2px solid green;
    margin:2em;
}