.search {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.search input[type="text"] {
    width: 286px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
    background-color: rgb(13, 206, 119);
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;

}
