.NavBar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav{
    display: flex; 
}

.buttonInput{
    margin-right: 20px;
    background-color: #3AB54A;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .9s ease;
}
.searchbar-container{
    margin-right: 150px;
}

.NavBar>img {
    width: 40px;
    height: 40px;
    margin-left: 10px;

}

.buttonInput:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: #3AB54A;
}