.button_ramdom {
    display: flex;
    justify-content: end;
    margin: 10px;
}

.button_ramdom>button {
    background-color: #00BFA6;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px;
}